body {
    background-color: #E9EAED;
    color: #393939;
}

body.blog, body.about {
    background-color: white;
}

::selection {
    background: #393939;
    color: white;
}

::-moz-selection {
    background: #FF6B6B;
    color: white;
}


.row.splish {
    min-width: 100%;
}

p a:hover {
    text-decoration: underline;
}

.blogtitle{
    color: #333;
}

/*------------------------*/
/*----  Header   ---------*/
/*------------------------*/

h1 {
    font-weight: 900;
}

h2,
h3 {
    font-weight: 700;
}

h4,
h5 {
    font-weight: 300;
}

.splish {
    min-width: 100%;
    color: white;
    height: 600px;
    padding: 100px 10px 10px 30px;
        width: 100%;
    background: url(../img/home-hero.jpg) no-repeat center center / cover;
    min-height: 300px;
    max-height: 600px;
    display: table;
}
.splish a {
    color: white;
    padding: 10 10px 10px 0px;
}

@media(max-width:40em) {
    .splish h1 {
        font-size: 2em;
    }
    .splish {
    background: url(../img/home-hero-sm.png) no-repeat center top fixed;
        height: 450px;
        
    }
}

.circular {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../img/headshot.jpg) no-repeat center center;
    background-size: cover;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 0px 8px #f1f1f1;
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

#logo {
    text-align: left;
    position: absolute;
}

#logo li a {
    font-style: normal;
}

/*------------------------*/
/*----Main Content--------*/
/*------------------------*/


.menu {
    background-color: rgba(241,241,241,.98);
}
.menu ul {
    text-align: right;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.menu ul li {
    display: inline;
    list-style: none;
    padding: 10px;
}

.menu ul li a {
    color: grey;
    font-weight: 600;
    font-style: italic;
    font-size: 2em;
    text-shadow: 0px 0px 0px rgba(0,0,0,.1);
    transition: .2s;
}

.menu ul li a:hover {
    color: rgba(0,0,0,.9);
    font-style: italic;
    text-shadow: -2px 2px #F1595A;
    transition: .2s;
}

.menu ul li a.current {
    color: rgba(0,0,0,.9);
    font-style: italic;
    text-shadow: -2px 2px #F1595A;
    transition: .2s;
}

@media(max-width:40em) {
    .menu ul li a.current {
    color: rgba(0,0,0,.9);
    font-style: italic;
    text-shadow: -1px 1px #F1595A;
    transition: .2s;
}
}

.menu ul li.current a {
    color: rgb(50,50,50);
    font-style: italic;
    text-shadow: -1px 3px 8px rgba(0,0,0,.1);
    transition: .2s;
}

@media(max-width:331px) {
    .menu ul li {
        font-size: .8em;
        padding: 17px 10px 18px 10px;
        transition:.2s;
    }
    .menu ul {
        text-align: right;
    }
}

@media(max-width:40em) {
    .menu ul li a {
        font-size: 1.2em;
        transition:.2s;
    }
    .menu ul {
        text-align: right;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 3px;
    }
}

.menu ul li {
    color: rgba(11,18,29,.4);
    text-shadow: 0 1px 2px rgba(255,255,255,.5);
}

.content-head {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-style: italic;
}

p {
    font-size: 1.3em;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #E9EAED;
    margin-bottom: 10px;
    display: inline-block; 
}

.arrow {
    align-content: center;
    text-align: center;
}

.aboutbody .arrow-down {
    border-top: 20px solid white;
}

span.pagetitle {
    padding: 10px;
}

h2 span {
    padding-top:5px;
}

.dc.resume {
    padding: 20px;
    border: 1px solid rgba(50,50,50,.3);
    box-shadow: 1px 1px 1px rgba(0,0,0,.003);
    border-radius: 4px;
}

.atext {
    margin-bottom: 10px;
}


/*------------------------*/
/*----Recent work---------*/
/*------------------------*/

.work a {
    font-size: 1.5em;
    text-align: right;
    color: white;
}

.work a:hover{
    text-decoration: underline;
}

@media (min-width:40em) {
    .work {
        height: 320px;
        vertical-align: middle;
    } 
    .workdesc {
        height: 300px;
    }
    #fujitsu {
        height: 350px;
    }
}

@media (max-width:40em) {
    .work a {
        color: white;
        font-size: 1.5em;
    }
}

.other ul li {
    list-style: none;
    margin-left: 20px;
    font-size: 1.5em;
    
}

.workdesc a {
    font-weight: 600;
    background-color: rgba(0,0,0,.5);
    padding: 3px 5px 1px 5px;
}

/*------------------------*/
/*----Other Work----------*/
/*------------------------*/

.other {
    text-align: center;
}
#other-work {
    list-style: none;
}
#other-work li {
    margin: 0 1.66% 1.2rem;
}
.otrwrk {
    width: 30%;
    display: block;
    float: left;
    margin-bottom: 2rem;
    border: 1px solid #D0D3D6;
    transition: .02s;
}
.otrwrk a {
    display: block;
    width: 100%;
    position: relative;
}
.otrwrk img {
    width: 100%;
    display: block;
    margin-bottom: 1.2rem;
}
@media only screen and (max-width: 959px) {
    .otrwrk img {
        margin-bottom: 0;
    }
}
.other-meta h3 {
    color: #393939;
}
.other-meta {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

    .other-meta {
        display: block;
        position: relative;
        width: 100%;
        background: #E9EAED;
        height: auto;
        text-align: center;
        opacity: 1;
    }
.other-info {
    color: #999;
    font-family: 'Vollkorn', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .75rem;
}
@media only screen and (max-width: 959px) {
    .other-info {
        color: #95999c;
        font-size: .7rem;
    }
}

@media(max-width:35em) {
    .otrwrk {
        width: 91.6%;
    }
    .other-meta {
        line-height: 5px;
        padding-top: 10px;
    }
}

.otrwrk a:hover {
    box-shadow: -3px 3px 15px rgba(0,0,0,.2);
    transition: .3s;
}

@media(max-width: 35em) {
    .otrwrk a {
    padding-bottom: 10px;
    box-shadow: -3px 3px 15px rgba(0,0,0,.2);
    }
}
/*------------------------*/
/*----Foota---------------*/
/*------------------------*/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -150px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  height: 150px; 
}
.footer {
  background: orange;
}


.footer {
    width: 100%;
    height:150px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(50,50,50,1);
}

.footer a i {
    padding: 50px 15px 8px 15px;
    color: white;
}

.footer p {
    color: white;
    font-size: 1em;
}

.footer a {
    padding: 20px 15px 8px 15px;
    color: white;
    text-shadow: 0px 3px 5px rgba(0,0,0,.2);
    transition: .3s;
}

a.linkedin i:hover {
    color: #0077B5;
    transition: .3s;
}

a.insta i:hover {
    color: #3f729b;
    transition: .3s;
}

a.fbook i:hover {
    color: #3b5998;
    transition: .3s;
}

a.twitter i:hover {
    color: #55acee;
    transition: .3s;
}

/*------------------------*/
/*----Blog----------------*/
/*------------------------*/

.title {
    font-size: 4em;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
    line-height: 1em;
}

.showcase-mockup {
    margin-top: -190px;
}


@media(max-width:40em) {
    .showcase-mockup {
    margin-top: -160px;
}
}

@media(min-width:64em) {
    .showcase-mockup {
    margin-top: -350px;
}
}

.blog a {
    color: #333;
}

.blog p {
    padding-bottom: 0px;
}

.blog a.button {
    background: #333;
    color: white;
    font-size: 1.2em;
}
.blog a.button:hover {
    box-shadow: -3px 3px #F1595A;
    transition: .2s;
    color: white;
    text-decoration: none;
}

.row.blog {
    margin-top: 50px;
    padding: 10px;
}

.row.title {
    padding: 10px;
}

@media (max-width:40em) {
    .blog h2 {
        font-size: 2em;
    }
}

.blog a {
    color: #F1595A;
}


.blog a::selection {
    background: #393939;
    color: #F1595A;
}

.blog a::-moz-selection {
    background: #FF6B6B;
    color: #F1595A;
} 


/*------------------------*/
/*----About---------------*/
/*------------------------*/

#mepic img {
    width: 100%;
}
.mexplanation h2{
        font-size: 3em;
}
.mexplanation h2 span{
        font-size: .2em;
    margin-top: -10px;
    position: absolute;
}

.dc p span {
    font-size: 1.5em;
    font-weight: 600;
}

.small-12.abt  {
    background-color: #E9EAED;
}

.dc a {
    color: #F1595A;
    font-size: 1em;
    
}

.dc a:hover {
    color: #F1595A;
    text-decoration: underline;
}

/*------------------------*/
/*----Contact-------------*/
/*------------------------*/

.contact {
    padding: 10px;
}

.contact.head {
    margin-top: -80px;
}
.contact p span {
    font-size: 1.3em;
    font-weight: 600;
}

.contact p a:hover {
    text-decoration: underline;
    
}

.contact a {
    font-size: 1.3em;
}

@media(min-width:1120px) {
    .otrwrk br {
        display: none;
    }
}

/*------------------------*/
/*----work----------------*/
/*------------------------*/

.title.fnc {
    padding: 100px 10px 10px 30px;
        width: 100%;
    min-height: 500px;
    background-size:contain;
    background: rgb(62,98,149);
}

.title.tcf {
    color: white;
    padding: 100px 10px 10px 30px;
        width: 100%;
    background: url(../img/work/tcf/TCFhead.png) no-repeat center center / cover;
    min-height: 300px;
    max-height: 400px;
    display: table;
}

.title p {
    font-size: .3em;
    font-weight: 400;
}

.work-showcase {
    padding: 10px;
}

@media(min-width:64em) {
    .work-showcase {
        margin-top: -65px;
        
}
}

.work-showcase p {
    padding-bottom: 20px;
}

span.hint {
    font-size: .5em;
    color: gray;
}

@media(min-width:40em) {
    .mob-disp1:hover img.f1-nohover {
        display: none;
        transition: .3s;
    }
    .mob-disp1:hover img.f1-hover {
        display: block;
        transition: .3s;
    }
    .mob-disp1 img.f1-hover {
        display: none;
        transition: .3s;
    }
    
    .mob-disp2:hover img.f2-nohover {
        display: none;
        transition: .3s;
    }
    .mob-disp2:hover img.f2-hover {
        display: block;
        transition: .3s;
    }
    .mob-disp2 img.f2-hover {
        display: none;
        transition: .3s;
    }
}

.mob-disp1 .device-mockup, .mob-disp2 .device-mockup {
    margin-top: 30px;
}

.row .row {
    margin-right: 0;
    margin-left: 0;
}

